
.wrapper{
  display:  flex;
}

.accordion{
  width: 500px;
}


item{
  background: #614101 ;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.title{
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: #ffffff;
}

.content{
  color: #ffffff;
  height: auto;
}